body {
    display: flex;
}
.center {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.center-button {
    margin-right: 50px;
    padding: 20px;
}

p {
    font-size: 23px;
    font-weight: bold;
}

div button {
    width: 100%;
    margin-bottom: 20px;
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
    .center-button {
        font-size: 45px;
        margin-top: 20px;
    }
    img {
        width: 100%;
    }
    p {
        width: 100%;
        font-size: 55px;
    }
    #qwr button {
        font-size: 55px;
        margin-bottom: 44px;
    }
}